<div class="rn-not-found-area rn-section-gapTop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rn-not-found-wrapper">
                    <h2 class="large-title">404</h2>
                    <h3 class="title">صفحه پیدا نشد!</h3>
                    <p>صفحه ای که دنبالش هستید یافت نشد</p>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-large">بازگشت به خانه</a>
                </div>
            </div>
        </div>
    </div>
</div>