<header class="rn-header haeder-default header--sticky">
    <div class="container">
        <div class="header-inner">
            <div class="header-left">
                <div class="logo-thumbnail logo-custom-css">
                    <a class="logo-light" href="index.html"><img src="~/Images/logo/logo-white.png" alt="nft-logo"></a>
                    <a class="logo-dark" href="index.html">
                        <img src="~/Images/logo/logo-dark.png"
                             alt="nft-logo">
                    </a>
                </div>
                <div class="mainmenu-wrapper">
                    <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                        <!-- Start Mainmanu Nav -->
                        <ul class="mainmenu">
                            <li class=" has-menu-child-item">
                                <a href="index.html">صفحه اصلی<i class="feather-home p-3"></i></a>
                            </li>
                            <li class="has-droupdown has-menu-child-item">
                                <a href="about.html">محصولات <i class="feather-package"></i></a>
                                <ul class="submenu">
                                    <li><a href="index.html"> برس ها <i data-feather="list"></i></a></li>
                                    <li><a href="index-four.html">  ناخن ها <i data-feather="list"></i></a></li>
                                    <li><a href="index-five.html"> کلیپس ها <i data-feather="list"></i></a></li>
                                    <li><a href="index-six.html"> آینه ها<i data-feather="list"></i></a></li>
                                    <li><a href="index-seven.html">  شونه<i data-feather="list"></i></a></li>

                                </ul>
                            </li>
                            <li><a href="contact.html">بلاگ</a></li>
                            <li><a href="contact.html">درباره ما</a></li>
                        </ul>
                        <!-- End Mainmanu Nav -->
                    </nav>
                </div>
            </div>
            <div class="header-right">
                <div class="setting-option d-none d-lg-block">
                    <form class="search-form-wrapper" action="#">
                        <input type="search" placeholder="اینجا بگردید" aria-label="جستجو">
                        <div class="search-icon">
                            <button><i class="feather-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="setting-option rn-icon-list d-block d-lg-none">
                    <div class="icon-box search-mobile-icon">
                        <button><i class="feather-search"></i></button>
                    </div>
                    <form id="header-search-1" action="#" method="GET" class="large-mobile-blog-search">
                        <div class="rn-search-mobile form-group">
                            <button type="submit" class="search-button"><i class="feather-search"></i></button>
                            <input type="text" placeholder="جستجو ...">
                        </div>
                    </form>
                </div>








                <div class="setting-option mobile-menu-bar d-block d-xl-none">
                    <div class="hamberger">
                        <button class="hamberger-button">
                            <i class="feather-menu"></i>
                        </button>
                    </div>
                </div>

                <div id="my_switcher" class="my_switcher setting-option">
                    <ul>
                        <li>
                            <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                <img class="sun-image" src="~/Images/icons/sun-01.svg" alt="Sun images">
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                <img class="Victor Image" src="~/Images/icons/vector.svg" alt="Vector Images">
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</header>