@model List<ChristianBeauty.ViewModels.Categories.GetAllCategoryViewModel>
<header class="rn-header haeder-default header--sticky">
    <div class="container">
        <div class="header-inner">
            <div class="header-left">
                <div class="logo-thumbnail logo-custom-css">
                    <a class="logo-light" asp-controller="Home" asp-action="Index"><img src="~/Images/logo/logo-white.png" alt="nft-logo"></a>
                    <a class="logo-dark" asp-controller="Home" asp-action="Index">
                        <img src="~/Images/logo/logo-dark.png" alt="nft-logo">
                    </a>
                </div>
                <div class="mainmenu-wrapper">
                    <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                        <!-- Start Mainmanu Nav -->
                        <ul class="mainmenu">
                            <li class=" has-menu-child-item">
                                <a asp-controller="Home" asp-action="Index">
                                    صفحه اصلی <i class="feather-home"></i>
                                </a>
                            </li>
                            <li class="has-droupdown has-menu-child-item">
                                <a asp-controller="Product" asp-action="Index">محصولات <i class="feather-package" style="padding-left: 10px !important;"></i>
                                </a>
                                <ul class="submenu">
                                    @foreach (var item in Model)
                                    {
                                        <li>
                                            <a asp-controller="Product" asp-action="Index" asp-route-categoryId="@item.Id">
                                                @item.Name <i data-feather="list"></i></a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li> <a asp-controller="Blog" asp-action="index">
                                    بلاگ</a></li>
                            <li>
                                <a asp-controller="home" asp-action="AboutUs">
                                    درباره ما
                                    </a>
                                </li>
                        </ul>
                        <!-- End Mainmanu Nav -->
                    </nav>
                </div>
            </div>
            <div class="header-right">
                <div class="setting-option d-none d-lg-block">
                    <form class="search-form-wrapper" asp-action="Search" asp-controller="Product" method="GET">
                        <input type="search" placeholder="اینجا بگردید" aria-label="جستجو" name="q">
                        <div class="search-icon">
                            <button><i class="feather-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="setting-option rn-icon-list d-block d-lg-none">
                    <div class="icon-box search-mobile-icon">
                        <button><i class="feather-search"></i></button>
                    </div>
                    <form id="header-search-1" asp-action="Search" asp-controller="Product" method="GET"
                        class="large-mobile-blog-search">
                        <div class="rn-search-mobile form-group">
                            <button type="submit" class="search-button"><i class="feather-search"></i></button>
                            <input type="text" placeholder="جستجو ..." name="q">
                        </div>
                    </form>
                </div>








                <div class="setting-option mobile-menu-bar d-block d-xl-none">
                    <div class="hamberger">
                        <button class="hamberger-button">
                            <i class="feather-menu"></i>
                        </button>
                    </div>
                </div>

                <div id="my_switcher" class="my_switcher setting-option">
                    <ul>
                        <li>
                            <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                <img class="sun-image" src="~/Images/icons/sun-01.svg" alt="Sun images">
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                <img class="Victor Image" src="~/Images/icons/vector.svg" alt="Vector Images">
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</header>


<div class="popup-mobile-menu">
    <div class="inner">
        <div class="header-top">
            <div class="logo logo-custom-css">
                <a class="logo-light" href="index.html"><img src="~/images/logo/logo-white.png" alt="nft-logo"></a>
                <a class="logo-dark" href="index.html"><img src="~/images/logo/logo-dark.png" alt="nft-logo"></a>
            </div>
            <div class="close-menu">
                <button class="close-button">
                    <i class="feather-x"></i>
                </button>
            </div>
        </div>
        <nav>
            <!-- Start Mainmanu Nav -->
            <ul class="mainmenu">
                <li>
                    <a asp-controller="Home" asp-action="Index">صفحه اصلی</a>
                </li>
                <li>
                    <a asp-controller="Product" asp-action="Index">محصولات</a>
                </li>
                <li class="has-droupdown">
                    <a class="nav-link its_new" href="#">دسته بندی</a>
                    <ul class="submenu">
                        @foreach (var item in Model)
                        {
                            <li>
                                <a asp-controller="Product" asp-action="Index" asp-route-categoryId="@item.Id">
                                    @item.Name <i class="feather-fast-forward"></i></a>
                            </li>
                        }


                    </ul>
                </li>
                <li>
                    <a asp-controller="Blog" asp-action="Index">بلاگ</a>
                </li>
                @* <li class="has-droupdown has-menu-child-item"></li> *@
                <li><a href="contact.html">تماس</a></li>
            </ul>
            <!-- End Mainmanu Nav -->
        </nav>
    </div>
</div>