@model ChristianBeauty.ViewModels.Users.UserViewModel
<div class="d-none d-lg-block">
    <div class="header-area left-header-style d-flex">
        <div class="logo-area logo-custom-css">
            <a class="logo-light" asp-action="Index" asp-controller="Home"  style=" text-align: center;"><img style="width:100% !important; max-width:none !important;" src="~/images/logo/admin-logo.png" alt="nft-logo"></a>
            <a class="logo-dark" asp-action="Index" asp-controller="Home" style=" text-align: center;"><img style="width:100% !important;max-width:none !important;" width="100%" src="~/images/logo/admin-logo.png" alt="nft-logo"></a>
            <a class="nav-link" style="text-decoration: none;   
    color: #878383;
    FONT-WEIGHT: BOLD;
    PADDING-RIGHT: 26px;
    border-bottom: 1px dashed #adadad;
    font-size: 15px !important;
    padding-bottom: 35px !important;" asp-action="Index" asp-controller="Home">پنل ادمین کریستین بیوتی</a>
        </div>
        <div class="sidebar-nav-wrapper">
            <nav class="mainmenu-nav">
                <ul class="mainmenu list-group">
                    <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home"> <i data-feather="home"></i>صفحه اصلی</a></li>
                    <li class="nav-item"><a class="nav-link " asp-action="Index" asp-controller="Product"> <i data-feather="package"></i>محصولات</a></li>
                    <li class="nav-item"><a class="nav-link " asp-action="Index" asp-controller="Category"> <i data-feather="plus"></i>دسته بندی محصولات</a></li>
                    <li class="nav-item"><a class="nav-link " asp-action="Index" asp-controller="Material"> <i data-feather="more-horizontal"></i>جنس محصول</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Blog"> <i data-feather="bell"></i>بلاگ</a></li>
                    <li class="nav-item"><a class="nav-link " asp-action="Index" asp-controller="LoyaltyClubUser"> <i data-feather="user"></i>باشگاه مشتریان</a></li>
                </ul>
            </nav>
            <div class="help-center-area mainmenu-nav mt--30">
                <ul class="mainmenu">
                    <li class="nav-item"><a class="nav-link" asp-action="EditProfile" asp-controller="Home"> <i data-feather="settings"></i>تنظیمات</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="SignOut" asp-controller="Home"> <i data-feather="log-out"></i> خروج</a></li>
                </ul>
            </div>
        </div>
        <div class="authore-profile">
            <div class="thumbnail">
                <img src="~/images/icons/727399.png" alt="Nft_marketplaces">
            </div>
            <div class="au-content">
                <p class="name">@Model.Name</p>
                <p class="blc">کاربر ادمین</></p>
            </div>
        </div>
    </div>
</div>
<!-- end header arae -->
<!-- Start Popup Moobile Menu  -->
<div class="popup-mobile-menu one-page-vavigation-popup">
    <div class="inner">
        <div class="header-top">
            <div class="logo logo-custom-css">
                <a class="logo-light" href="index.html"><img src="~/images/logo/logo-white.png" alt="nft-logo"></a>
                <a class="logo-dark" href="index.html"><img src="~/images/logo/logo-dark.png" alt="nft-logo"></a>
            </div>
            <div class="close-menu">
                <button class="close-button">
                    <i class="feather-x"></i>
                </button>
            </div>
        </div>
        <nav>
            <!-- Start Mainmanu Nav -->
            <ul class="mainmenu" id="navbar-example2">
                <li class="nav-item"><a class="nav-link smoth-animation" href="#list-item-1">خانه</a></li>
                <li class="nav-item"><a class="nav-link smoth-animation" href="#list-item-2">حراجی زنده</a></li>
                <li class="nav-item"><a class="nav-link smoth-animation" href="#list-item-3">جدید ترین موارد</a></li>
                <li class="nav-item"><a class="nav-link smoth-animation" href="#list-item-4">بررسی محصول</a></li>
            </ul>
            <!-- End Mainmanu Nav -->
        </nav>
    </div>
</div>