@model ChristianBeauty.ViewModels.Categories.EditCategoryViewModel
@{
    ViewData["Title"] = "Home Page";
}




<div class="rn-upcoming-area rn-section-gap pt--50" style="padding-right: 320px !important;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-title-area d-flex" style="justify-content: space-between;display: flex;align-items: baseline;">
                    <h3><i data-feather="list"></i>ویرایش مجموعه</h3>
                    <a asp-action="index" asp-controller="category" class="btn btn-primary-alta btn-large">بازگشت</a>
                </div>
                <form asp-action="Edit" method="post" class="mt--100">
                        <div class="form-group pb-2">
                        <label for="url" class="title">نام مجموعه:</label>

                        <input asp-for="Name" type="text" class="form-control" id="name" />

                            <span asp-validation-for="Name"></span>
                        </div>
                        <input type="hidden" asp-for="ParentCategoryId" value="@Model.ParentCategoryId" />
@*
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save" />
                        </div>*@

                    <div class="col-lg-12 mb--100">
                        <div class="button-wrapper mb--100">
                            <!-- <a href="#" class="btn btn-primary btn-large mr--30" data-bs-toggle="modal" data-bs-target="#collectionModal">Preview</a> -->
                            <button type="reset" class="btn btn-primary-alta  btn-large" style="margin-left: 10px;">
                                انصراف
                            </button>
                            <button type="submit" class="btn btn-success btn-large">ثبت</button>
                        </div>
                    </div>
                    </form>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>


@*
<div class="container mt-5 pt--50" style="padding-right: 320px !important;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">دسته بندی</h1>
                    <form asp-action="Edit" method="post">
                        <div class="form-group pb-2">
                            <input asp-for="Name" class="form-control" id="name" />
                            <span asp-validation-for="Name"></span>
                        </div>
                        <input type="hidden" asp-for="ParentCategoryId" value="@Model.ParentCategoryId" />

                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Save" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>*@