@model List<ChristianBeauty.ViewModels.Categories.GetAllCategoryViewModel>

<div class="category-area pt--50 " style="padding-right: 320px !important;">
    <div class="container">
        <div class="row mb--30">
            <div class="col-12">
                <h3 class="title">
                    دسته بندی محصولات
                </h3>
            </div>  
        </div>
        <div class="row g-5">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-xl-2 col-md-4 col-sm-6" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                    <a class="category-style-one" asp-controller="Product" asp-action="Index" asp-route-categoryId="@item.Id">
                        <i class="feather-shopping-bag"></i>
                        <span class="category-label">@item.Name</span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>


