@model ChristianBeauty.ViewModels.Categories.AddSubCategoryViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Add Category</h1>
</div>



<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">اضافه کردن دسته بندی</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form asp-action="AddSubCategory" enctype="multipart/form-data" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <input asp-for="Name" type="text" placeholder="دسته بندی"
                                                class="form-control" />

                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" asp-for="ParentCategoryId" value="@Model.ParentCategoryId" />

                            <div class="row">
                                <div class="col-12 form-group ">
                                    <button type="submit" class="btn btn-primary">ثبت</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>