<div class="rn-footer-area footer-for-left-sticky-header" style="    margin-top: 108px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-center" style="margin-top:78px; border-top: 2px solid #00000014 !important;">
                    <div class="logo logo-custom-css">
                    </div>
                    <p class="description mt--30">©1402. تمامی حقوق محفوظ است <a target="_blank" href="https://www.rtl-theme.com/author/saeedf436/products/"> کریستین بیوتی.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area  -->
<!-- Modal -->
<div class="rn-popup-modal share-modal-wrapper modal fade" id="shareModal" tabindex="-1" aria-hidden="true">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content share-wrapper">
            <div class="modal-header share-area">
                <h5 class="modal-title">این NFT را به اشتراک بگذارید</h5>
            </div>
            <div class="modal-body">
                <ul class="social-share-default">
                    <li>
                        <a href="#">
                            <span class="icon"><i data-feather="facebook"></i></span><span class="text">فیس بوک</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i data-feather="twitter"></i></span><span class="text">توییتر</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i data-feather="linkedin"></i></span><span class="text">لینکداین</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"><span class="icon"><i data-feather="instagram"></i></span><span class="text">اینستاگرام</span> </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i data-feather="youtube"></i></span><span class="text">یوتیوب</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="rn-popup-modal report-modal-wrapper modal fade" id="reportModal" tabindex="-1" aria-hidden="true">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content report-content-wrapper">
            <div class="modal-header report-modal-header">
                <h5 class="modal-title">
                    چرا گزارش می دهید؟
                </h5>
            </div>
            <div class="modal-body">
                <p>توضیح دهید که چرا فکر می کنید این مورد باید از بازار حذف شود</p>
                <div class="report-form-box">
                    <h6 class="title">پیام</h6>
                    <textarea name="message" placeholder="Write Problems"></textarea>
                    <div class="report-button">
                        <button type="button" class="btn btn-primary mr--10 w-auto">گزارش</button>
                        <button type="button" class="btn btn-primary-alta w-auto" data-bs-dismiss="modal">
                            لغو
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

