@model ChristianBeauty.ViewModels.Products.AddProductViewModel
@{
    ViewData["Title"] = "Home Page";
    var index = 1;
}

<<div class="creat-collection-area pt--80 pt--50" style="padding-right: 320px !important;">
    <div class="container">
        <div class="table-title-area d-flex" style="justify-content: space-between;display: flex;align-items: baseline;">
            <h3><i data-feather="list"></i> ایجاد محصول </h3>
            <a asp-action="index" asp-controller="product" style="margin-left: 104px;" class="btn btn-primary-alta btn-large">بازگشت</a>
        </div>
        <div class="row g-5 ">
            <form onsubmit="return mySubmitFunction(event)" asp-controller="product" asp-action="add" id="formAdd" style="display:contents !important" enctype="multipart/form-data" method="post">
                   
                <div class="col-lg-3 offset-1 ml_md--0 ml_sm--0 " id="image-upload-container">
                    <button type="button" onclick="addImageInput()"
                            class="btn btn-primary mb-5">
                        <i data-feather="plus"></i>
                        اضافه کردن عکس
                    </button>
                    <div class="collection-single-wized banner">

                        <label class="title required">تصویر محصول @index</label>
                        <div class="create-collection-input feature-image">
                            <div class="logo-c-image feature">

                                <img id="rbtinput_@index" src="https://maxphone.rs/themes/shop/noimage.jpg" alt="Profile-NFT">
                                <label for="nipa_@index" title="No File Choosen">
                                    <span class="text-center color-white"><i class="feather-edit"></i></span>
                                </label>
                            </div>
                            <div class="button-area">
                                <div class="brows-file-wrapper">
                                    <input data-HasValue="False" onchange="updateImage(this)" class="productImages" name="gallery" id="nipa_@index" type="file">
                                    <span asp-validation-for="Gallery" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>

                <div class="col-lg-7">
                    <div class="create-collection-form-wrapper">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="collection-single-wized">
                                    <label for="name" class="title required">نام محصول:</label>
                                    <div class="create-collection-input">
                                        <input asp-for="Name" type="text" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="collection-single-wized">
                                    <label for="url" class="title required">کد محصول:</label>
                                    <div class="create-collection-input">
                                        <input asp-for="ProductCode" />
                                        <span asp-validation-for="ProductCode" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="collection-single-wized">
                                    <label for="url" class="title">ویژگی های محصول(با # جدا سازی شود):</label>
                                    <div class="create-collection-input">
                                        <input asp-for="Features" />
                                        <span asp-validation-for="Features" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="collection-single-wized">
                                    <label for="url" class="title">لینک دیجی کالا:</label>
                                    <div class="create-collection-input">
                                        <input asp-for="DigikalLink" />
                                        <span asp-validation-for="DigikalLink" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="collection-single-wized">
                                    <label for="url" class="title">لینک باسلام:</label>
                                    <div class="create-collection-input">
                                        <input asp-for="BasalamLink" />
                                        <span asp-validation-for="BasalamLink" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="collection-single-wized">
                                    <label for="url" class="title"> سایز محصول (سانتی متر):</label>
                                    <div class="create-collection-input">
                                        <input asp-for="Size" />
                                        <span asp-validation-for="Size" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="collection-single-wized">
                                    <label for="url" class="title">وزن محصول (گرم):</label>
                                    <div class="create-collection-input">
                                        <input asp-for="Weight" />
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                      @*       <div class="col-lg-2">
                                <div class="nuron-information mb--30">
                                    <label for="url" class="title">وضعیت موجودی:</label>
                                    <div class="single-notice-setting" style="padding: 16px !important;">
                                        <div class="input">
                                            <input asp-for="IsAvailable" type="checkbox" id="IsAvailable" name="IsAvailable" class="theme-switch__input" checked>
                                            <label for="IsAvailable" class="theme-switch__label">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> *@

                            <div class="col-lg-4">
                                <div class="nuron-information mb--30">
                                    <label for="url" class="title">لیست پر فروش :</label>
                                    <div class="single-notice-setting" style="padding: 16px !important;">
                                        <div class="input">
                                            <input asp-for="IsTopSeller" type="checkbox" id="IsTopSeller" name="IsTopSeller" class="theme-switch__input">
                                            <label for="IsTopSeller" class="theme-switch__label">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="collection-single-wized">
                                    <label class="title required mt-3">جنس محصول:</label>
                                    <div class="create-collection-input">
                                        <select class="nice-select" asp-for="SelectedMaterialId" asp-items=@Model.Materials>
                                            <option value="0">انتخاب کنید</option>

                                        </select>
                                        <span asp-validation-for="SelectedMaterialId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="collection-single-wized">
                                    <label class="title required mt-3">  دسته بندی:</label>
                                    <div class="create-collection-input">
                                        <select onchange="getComboA(this)" class="nice-select" id="SelectedCategoryId" asp-for="SelectedCategoryId" asp-items=@Model.Categories>
                                            <option value="0">انتخاب کنید</option>

                                        </select>
                                        <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="collection-single-wized">
                                    <label class="title mt-3">:زیر مجموعه</label>
                                    <div id="divSelect" class="create-collection-input">
                                        <select class="nice-select" id="SelectedSubCategoryId" asp-for="SelectedSubCategoryId" asp-items=@Model.SubCategories>
                                            @if (Model.SubCategories == null || Model.SubCategories.Count <= 0)
                                            {
                                                <option>بدون زیر مجموعه </option>
                                            }
                                        </select>
                                        <span asp-validation-for="SelectedSubCategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="collection-single-wized">
                                    <label for="description" class="title">توضیحات</label>
                                    <div class="create-collection-input">
                                        <textarea asp-for="Description" id="description" class="text-area"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="button-wrapper">
                                    <!-- <a href="#" class="btn btn-primary btn-large mr--30" data-bs-toggle="modal" data-bs-target="#collectionModal">Preview</a> -->
                                    <button type="reset" class="btn btn-primary-alta  btn-large" style="margin-left: 10px;">
                                        انصراف
                                    </button>
                                    <button type="submit" class="btn btn-success btn-large" style="padding-right:45px">
                                        
                                        ثبت
                                        <img id="loadingImage" class="d-none"  src="~/Images/loader.svg" style="width: 25px; height: 25px;" />

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>


    let index = 0;
    index += @index;    
    function addImageInput() {

        if (index >= 3) {
            return Swal.fire({
                icon: "error",
                title: "خطا ...",
                text: "حداکثر 3 تصویر میتوان انتخاب کرد",
            });
        }
        var inputs = document.getElementsByName('gallery');
        for (var p = 0; p < inputs.length; p++) {
            var hasValue = inputs[p].getAttribute('data-hasvalue');
            if (hasValue === "False") {
                return Swal.fire({
                    icon: "error",
                    title: "خطا ...",
                    text: "قبل از ایجاد تصویر جدید باید تصویر قبلی را انتخاب کنید",
                });
            }
        }
        var container = document.getElementById('image-upload-container');
        var input = document.createElement('div');
        index++;
        input.classList.add("collection-single-wized");
        input.classList.add("banner");
        input.setAttribute('id', 'div-' + index); // Concatenate 'inde' variable properly
        input.innerHTML = `
                    <label onclick="deleteImageInput(${index})"  class="lableForAdd" for="title" title="No File Choosen">
                                        <span class="text-center color-white">حذف<i class="feather-x"></i></span>
                                </label>
                            <label class="title"> تصویر محصول ${index}</label>
                    <div class="create-collection-input feature-image">
                        <div class="logo-c-image feature">
                                    <img id="rbtinput_${index}" src="https://maxphone.rs/themes/shop/noimage.jpg" alt="Profile-NFT">
                                        <label for="nipa_${index}" title="No File Choosen">
                                    <span class="text-center color-white" ><i class="feather-edit"></i></span>
                                        </label>
                                        </div>
                                        <div class="button-area">
                                            <div class="brows-file-wrapper">
                                                                <input data-HasValue="False"  onchange="updateImage(this)" name="gallery"  id="nipa_${index}" type="file">
                                                    </div>
                                                    </div>
                                                    </div>
                                                `;
        container.appendChild(input);
        const newScript = document.createElement("script");
        newScript.src = "/js/main.js";
        const existingScript = document.querySelector("script[src='/js/main.js']");
        existingScript.parentNode.replaceChild(newScript, existingScript);
    }
















    function deleteImageInput(element) {
        document.getElementById('div-' + element).remove();
        index--;
    }
    const categorySelect = document.getElementById('SelectedCategoryId');
    const subCategorySelect = document.getElementById('SelectedSubCategoryId');
    categorySelect.addEventListener('change', function () {
        const categoryId = categorySelect.value;

        // Enable or disable Sub Category select based on the selected Category
        if (categoryId) {
            subCategorySelect.disabled = false;
            loadSubCategories(categoryId);
        } else {
            subCategorySelect.disabled = true;
            clearSubCategories();
        }
    });
    function getComboA(selectObject) {
        var categoryId = selectObject.value;
        const subCategoryDropdown = document.getElementById('divSelect');
        subCategoryDropdown.innerHTML = ''
        if (categoryId !== '') {
            fetch(`/Admin/Product/GetSubCategories?categoryId=${categoryId}`)
                .then(response => response.json())
                .then(data => {
                    console.log('data', data)
                    const sel = document.createElement('select');
                    sel.setAttribute('class', 'nice-select')
                    sel.setAttribute('id', 'SelectedSubCategoryId')
                    subCategoryDropdown.appendChild(sel);
                    if (data.length <=  0 || data === null || data === undefined )
                    {
                        const option = document.createElement('option');
                        option.value = 0;
                        option.textContent = 'بدون زیر مجموعه';
                        sel.appendChild(option);
                    }
                    data.forEach(subCategory => {
                        const option = document.createElement('option');
                        option.value = subCategory.id;
                        option.textContent = subCategory.name;
                        sel.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    }
    function loadSubCategories(categoryId) {

        fetch(`GetSubCategories?categoryId=${categoryId}`)
            .then(response => response.json())
            .then(data => {
                populateSubCategories(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    function populateSubCategories(data) {
        clearSubCategories();
        data.forEach(subCategory => {
            const option = document.createElement('option');
            option.value = subCategory.id;
            option.textContent = subCategory.name;
            subCategorySelect.appendChild(option);
        });
    }
    function clearSubCategories() {
        subCategorySelect.innerHTML = '<option value="sssssss">-- Select --</option>';
    }



    function updateImage(input) {
        input.setAttribute('data-hasvalue', 'True');
        var hiddenInput = document.createElement("input");
        var formEdit = document.getElementById("formEdit")
        hiddenInput.setAttribute("type", "hidden");
        hiddenInput.setAttribute("data-HasValue","True");
        hiddenInput.setAttribute("name", "ChangedImagesIds");
        hiddenInput.setAttribute("value", input.tabIndex);
        formEdit.appendChild(hiddenInput);
        var file = input.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var image = input.previousElementSibling;
                if (image && image.tagName === "IMG") {
                    image.src = e.target.result;
                }
            };
            reader.readAsDataURL(file);
        }
    }





    function mySubmitFunction() {
        $('#loadingImage').removeClass('d-none')
        var name = document.getElementById('Name').value.trim();
        var productCode = document.getElementById('ProductCode').value.trim();
        var productMaterial = document.getElementById('SelectedMaterialId').value;
        var productCategory = document.getElementById('SelectedCategoryId').value;

        let invalids = "";

        if (name === '') {
            invalids += "*نام محصول\n";
        }
        if (productCode === '') {
            invalids += "*کد محصول\n";
        }
        if (productMaterial === '0') {
            invalids += "*جنس محصول\n";
        }
        if (productCategory === '0') {
            invalids += "*دسته بندی محصول\n";
        }

        var fileInputs = document.getElementsByClassName("productImages");
        for (var i = 0; i < fileInputs.length; i++) {
            if (fileInputs[i].value === '') {
                invalids += "* تصویر محصول\n";
            }
        }


        if (invalids !== '') {
            alert('لطفاً \n' + invalids + ' را وارد نمایید');
            $('#loadingImage').addClass('d-none');
            return false;
        } else {
            return true;
        }
    }
</script>