@model ChristianBeauty.ViewModels.Products.EditProductViewModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    var IsFinishedSelectListItems = new List<SelectListItem>
    {
    new SelectListItem { Text = "موجود", Value = "False" },
    new SelectListItem { Text = "ناموجود", Value = "True" }
    };
    var IsEnableSelectListItems = new List<SelectListItem>
    {
    new SelectListItem { Text = "فعال", Value = "False" },
    new SelectListItem { Text = "غیرفعال", Value = "True" }
    };
    var IsTopSellerSelectListItems = new List<SelectListItem>
    {
    new SelectListItem { Text = "هست", Value = "False" },
    new SelectListItem { Text = "نیست", Value = "True" }
    };
}
@*<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-end">ساختن مجموعه</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a href="index.html">خانه</a></li>
                    <li class="separator"><i class="feather-chevron-left"></i></li>
                    <li class="item current">ساختن مجموعه</li>
                </ul>
            </div>
        </div>
    </div>
</div>
*@

<div class="creat-collection-area pt--80 pt--50" style="padding-right: 320px !important;">
    <div class="container">
        <div class="table-title-area d-flex" style="justify-content: space-between;display: flex;align-items: baseline;">
            <h3><i data-feather="list"></i> ویرایش محصول </h3>
            <a asp-action="edit" asp-controller="product" style="margin-left: 104px;" class="btn btn-primary-alta btn-large">بازگشت</a>

        </div>
        <div class="row g-5 ">
            <form asp-controller="product" asp-action="Edit" id="formEdit" style="display:contents !important" enctype="multipart/form-data" method="post">
                <div class="col-lg-3 offset-1 ml_md--0 ml_sm--0">

                    @if (Model.Gallery != null && Model.Gallery.Count > 0)
                    {
                        var index = 1;
                        foreach (var image in Model.Gallery)
                        {
                            <div class="collection-single-wized banner">
                                <label class="title">تصویر محصول @index</label>

                                <div class="create-collection-input feature-image">
                                    <div class="logo-c-image feature">
                                        <img id="rbtinput_@index" src="/Images/ProductImages/@image.ImageName" alt="Profile-NFT">
                                        <label for="nipa_@index" title="No File Choosen">
                                            <span class="text-center color-white"><i class="feather-edit"></i></span>
                                        </label>
                                    </div>
                                    <div class="button-area">
                                        <div class="brows-file-wrapper">
                                            <input onchange="updateImage(this)" name="gallery" tabindex="@image.Id" id="nipa_@index" type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            index++;
                        }
                    }

                </div>

                <div class="col-lg-7">
                    <div class="create-collection-form-wrapper">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="collection-single-wized">
                                    <label for="name" class="title required">نام محصول:</label>
                                    <div class="create-collection-input">
                                        <input asp-for="Name" type="text" />
                                        <span asp-validation-for="Name" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="collection-single-wized">
                                    <label for="url" class="title">کد محصول:</label>
                                    <div class="create-collection-input">
                                        <input asp-for="ProductCode" />
                                        <span asp-validation-for="ProductCode" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="collection-single-wized">
                                    <label for="url" class="title">ویژگی های محصول:</label>
                                    <div class="create-collection-input">
                                        <input asp-for="Features" />
                                        <span asp-validation-for="Features" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="collection-single-wized">
                                    <label for="url" class="title">لینک دیجی کالا:</label>
                                    <div class="create-collection-input">
                                        <input asp-for="DigikalLink" />
                                        <span asp-validation-for="DigikalLink" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="collection-single-wized">
                                    <label for="url" class="title">لینک باسلام:</label>
                                    <div class="create-collection-input">
                                        <input asp-for="BasalamLink" />
                                        <span asp-validation-for="BasalamLink" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="collection-single-wized">
                                    <label for="url" class="title"> سایز محصول (سانتی متر):</label>
                                    <div class="create-collection-input">
                                        <input asp-for="Size" />
                                        <span asp-validation-for="Size" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="collection-single-wized">
                                    <label for="url" class="title">وزن محصول (گرم):</label>
                                    <div class="create-collection-input">
                                        <input asp-for="Weight" />
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="nuron-information mb--30">
                                    <label for="url" class="title"> فعال  یا غیرفعال 	:</label>
                                    <div class="single-notice-setting" style="padding: 16px !important;">
                                        <div class="input">
                                            <input asp-for="IsEnable" type="checkbox" id="IsEnable" name="IsEnable" class="theme-switch__input">
                                            <label for="IsEnable" class="theme-switch__label">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="nuron-information mb--30">
                                    <label for="url" class="title">وضعیت موجودی:</label>
                                    <div class="single-notice-setting" style="padding: 16px !important;">
                                        <div class="input">
                                            <input asp-for="IsFinished" type="checkbox" id="IsFinished" name="IsFinished" class="theme-switch__input">
                                            <label for="IsFinished" class="theme-switch__label">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="nuron-information mb--30">
                                    <label for="url" class="title">لیست پر فروش :</label>
                                    <div class="single-notice-setting" style="padding: 16px !important;">
                                        <div class="input">
                                            <input asp-for="IsTopSeller" type="checkbox" id="IsTopSeller" name="IsTopSeller" class="theme-switch__input">
                                            <label for="IsTopSeller" class="theme-switch__label">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="collection-single-wized">
                                    <label class="title mt-3">جنس محصول:</label>
                                    <div class="create-collection-input">
                                        <select class="nice-select" asp-for="SelectedMaterialId" asp-items=@Model.Materials>
                                            <option value="">-- Select --</option>

                                        </select>
                                        <span asp-validation-for="SelectedMaterialId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="collection-single-wized">
                                    <label class="title mt-3">  دسته بندی:</label>
                                    <div  class="create-collection-input">
                                        <select onchange="getComboA(this)" class="nice-select" id="SelectedCategoryId" asp-for="SelectedCategoryId" asp-items=@Model.Categories>
                                            <option value="">-- Select --</option>

                                        </select>
                                        <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="collection-single-wized">
                                    <label class="title mt-3">:زیر مجموعه</label>
                                    <div id ="divSelect" class="create-collection-input">
                                        <select class="nice-select" id="SelectedSubCategoryId" asp-for="SelectedSubCategoryId" asp-items=@Model.SubCategories>
                                            @if (Model.SubCategories == null || Model.SubCategories.Count <= 0)
                                            {
                                                <option >بدون زیر مجموعه </option>
                                            }
                                        </select>
                                        <span asp-validation-for="SelectedSubCategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="collection-single-wized">
                                    <label for="description" class="title">توضیحات</label>
                                    <div class="create-collection-input">
                                        <textarea asp-for="Description" id="description" class="text-area"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="button-wrapper">
                                    <!-- <a href="#" class="btn btn-primary btn-large mr--30" data-bs-toggle="modal" data-bs-target="#collectionModal">Preview</a> -->
                                    <button type="reset" class="btn btn-primary-alta  btn-large" style="
    margin-left: 10px;">
                                        انصراف
                                    </button>
                                    <button type="submit" class="btn btn-success btn-large">ثبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    function getComboA(selectObject) {
        var categoryId = selectObject.value;
        const subCategoryDropdown = document.getElementById('divSelect');
        subCategoryDropdown.innerHTML = ''

        if (categoryId !== '') {
            // Make an AJAX request to the server to get the Sub Categories based on the selected Category
            // Replace the placeholder URL with your actual endpoint
            fetch(`/Admin/Product/GetSubCategories?categoryId=${categoryId}`)
                .then(response => response.json())
                .then(data => {
                    const sel = document.createElement('select');
                    sel.setAttribute('class', 'nice-select')
                    sel.setAttribute('id', 'SelectedSubCategoryId')
                    subCategoryDropdown.appendChild(sel);
                    data.forEach(subCategory => {
                
                        const option = document.createElement('option');
                        option.value = subCategory.id;
                        option.textContent = subCategory.name;
                        sel.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    }



    function updateImage(input) {
        var hiddenInput = document.createElement("input");
        var formEdit = document.getElementById("formEdit")
        hiddenInput.setAttribute("type", "hidden");

        hiddenInput.setAttribute("name", "ChangedImagesIds");
        hiddenInput.setAttribute("value", input.tabIndex);
        formEdit.appendChild(hiddenInput);
        var file = input.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var image = input.previousElementSibling;
                if (image && image.tagName === "IMG") {
                    image.src = e.target.result;
                }
            };
            reader.readAsDataURL(file);
        }
    }

</script>
