@model ChristianBeauty.ViewModels.Products.EditProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Edit Product</h1>
</div>



<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">ویرایش کردن محصول</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form asp-action="Edit" enctype="multipart/form-data" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <input asp-for="Name" type="text" placeholder="نام محصول"
                                                class="form-control" />

                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <label asp-for="IsFinished"></label>
                                            <input asp-for="IsFinished" type="checkbox" />
                                            <span asp-validation-for="IsFinished" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <input asp-for="ProductCode" placeholder="کد محصول" class="form-control" />
                                            <span asp-validation-for="ProductCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <input asp-for="Description" placeholder="توضیحات" class="form-control" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <input asp-for="Size" placeholder="سایز" class="form-control" />
                                            <span asp-validation-for="Size" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <input asp-for="Weight" placeholder="وزن" class="form-control" />
                                            <span asp-validation-for="Weight" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <input asp-for="Features" placeholder="ویژگی ها" class="form-control" />
                                            <span asp-validation-for="Features" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <input asp-for="OtherDetails" placeholder="جزییات" class="form-control" />
                                            <span asp-validation-for="OtherDetails" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <input asp-for="DigikalLink" placeholder="لینک دیجیکالا"
                                                class="form-control" />
                                            <span asp-validation-for="DigikalLink" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <input asp-for="BasalamLink" placeholder="لینک باسلام"
                                                class="form-control" />
                                            <span asp-validation-for="BasalamLink" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <label>Materials</label>
                                            <select class="form-control" asp-for="SelectedMaterialId"
                                                asp-items=@Model.Materials>
                                                <option value="">-- Select --</option>


                                            </select>
                                            <span asp-validation-for="SelectedMaterialId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <label>Category</label>
                                            <select class="form-control" asp-for="SelectedCategoryId"
                                                asp-items=@Model.Categories>
                                                <option value="">-- Select --</option>


                                            </select>
                                            <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-6 form-group">
                                            <label>Sub Category</label>
                                            <select class="form-control" asp-for="SelectedSubCategoryId"
                                                asp-items=@Model.SubCategories>
                                                <option value="">-- Select --</option>


                                            </select>
                                            <span asp-validation-for="SelectedSubCategoryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="row">
                                        @if (Model.Gallery != null && Model.Gallery.Count > 0)
                                        {
                                            foreach (var image in Model.Gallery)
                                            {
                                                <div class="col-6">
                                                    <img src="/Images/ProductImages/@image.ImageName" width="50%" height="50%" alt="Gallery Image" class="img-thumbnail" onclick="changeImage(this)" />
                                                    <input type="file" style="display:none;" name="gallery" onchange="updateImage(this)" />
                                                </div>
                                            }
                                        }
                                    </div>




                            </div>
                            <div class="row">
                                <div class="col-12 form-group ">
                                    <button type="submit" class="btn btn-primary">ثبت</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function changeImage(element) {
            var fileInput = element.nextElementSibling;
            if (fileInput && fileInput.tagName === "INPUT" && fileInput.type === "file") {
                fileInput.click();
            }
        }

        function updateImage(input) {
            var file = input.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var image = input.previousElementSibling;
                    if (image && image.tagName === "IMG") {
                        image.src = e.target.result;
                    }
                };
                reader.readAsDataURL(file);
            }
        }
        @* // Get references to the dropdown lists
            const categoryDropdown = document.getElementById('SelectedCategoryId');
            const subCategoryDropdown = document.getElementById('SelectedSubCategoryId');

            // Add event listener for the change event on the category dropdown
            categoryDropdown.addEventListener('change', function ()
            {
            const categoryId = this.value;

            // Make an AJAX request to fetch subcategories based on the selected category
            fetch(`GetSubCategories?categoryId=${categoryId}`)
            .then(response => response.json())
            .then(data =>
            {
            // Clear previous options from the subcategory dropdown
            subCategoryDropdown.innerHTML = '<option value="">-- Select --</option>';

            // Populate the subcategory dropdown with new options
            data.forEach(subCategory =>
            {
            const option = document.createElement('option');
            option.value = subCategory.id;
            option.textContent = subCategory.name;
            subCategoryDropdown.appendChild(option);
            });

            // Enable the subcategory dropdown
            subCategoryDropdown.disabled = false;
            })
            .catch(error =>
            {
            console.error('Error:', error);
            });
            }); *@
        const categoryDropdown = document.querySelector('#SelectedCategoryId');
        const subCategoryDropdown = document.querySelector('#SelectedSubCategoryId');

        // Add an event listener to the Category dropdown list
        categoryDropdown.addEventListener('change', () =>
        {
            // Get the selected Category value
            const categoryId = categoryDropdown.value;

            // Clear the Sub Category dropdown list
            subCategoryDropdown.innerHTML = '<option value="">-- Select --</option>';

            // Disable the Sub Category dropdown if Category is "-- Select --"
            subCategoryDropdown.disabled = categoryId === '';

            // If a Category is selected, make an AJAX request to fetch the Sub Categories
            if (categoryId !== '')
            {
                // Make an AJAX request to the server to get the Sub Categories based on the selected Category
                // Replace the placeholder URL with your actual endpoint
                fetch(`/Admin/Product/GetSubCategories?categoryId=${categoryId}`)
                    .then(response => response.json())
                    .then(data =>
                    {
                        // Iterate over the received Sub Categories and create options for the Sub Category dropdown
                        data.forEach(subCategory =>
                        {
                            const option = document.createElement('option');
                            option.value = subCategory.id;
                            option.textContent = subCategory.name;
                            subCategoryDropdown.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }
        });
    </script>