@model ChristianBeauty.ViewModels.Users.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page with Background Image Example</title>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div id="bg"></div>

    <form asp-controller="User" asp-action="Login" enctype="multipart/form-data" method="post">
        <div class="form-field">
            <input asp-for="Username" id="typeEmailX-2" class="form-control form-control-lg"
                   placeholder="Username" />

            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-field">
            <input asp-for="Password" type="password" id="typePasswordX-2"
                   class="form-control form-control-lg" placeholder="Password" />

            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-field">
            <button class="btn" type="submit">Log in</button>
        </div>
    </form>
    <!-- partial -->

</body>
</html>
