<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-end">درباره  ما</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a asp-controller="home" asp-action="index">صفحه اصلی</a></li>
                    <li class="separator"><i class="feather-chevron-left"></i></li>
                    <li class="item current">درباره  ما</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="rn-about-banner-area rn-section-gapTop">
    <div class="container mb--30">
        <div class="row">   
            <div class="col-12">
                <h2 class="title about-title-m" data-sal="slide-up" data-sal-duration="800" data-sal-delay="150">جستجوی لذت‌بخش</h2>
                <h2 class="title about-title-m" data-sal="slide-up" data-sal-duration="800" data-sal-delay="150">در دنیای محصولات آرایشی بهداشتی...</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid about-fluidimg ">
        <div class="row">
            <div class="img-wrapper">
                <div class="bg_image--22 bg_image">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="h--100">
                    <div class="rn-about-card mt_dec--50 widge-wrapper rbt-sticky-top-adjust">
                        <div class="inner">
                            <h2 class="title" data-sal="slide-up" data-sal-duration="800" data-sal-delay="150">
                                داستان کریستین بیوتی...
                            </h2>
                            <p class="about-disc" data-sal="slide-up" data-sal-duration="800" data-sal-delay="150">
                               از سال 1392 درکنار شما هستیم و افتخار داریم که محصولات متنوع و با کیفیتی را در اختیار شما قرار داده‌ایم. از آغاز تا کنون، هدف ما همیشه ارائه محصولاتی بوده است که به شما اعتماد و زیبایی را بخشیده و از استانداردهای بالایی پیروی می‌کند.
                            </p>
                            <a asp-controller="blog" asp-action="index" class="btn btn-primary-alta btn-large sal-animate mt--20" data-sal="slide-up" data-sal-duration="800" data-sal -delay="150">به وبلاگ ما مراجعه کنید</a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>


<h2 class="title mt-4" data-sal="slide-up" style="text-align: center;" data-sal-duration="800" data-sal-delay="150">
.........................
</h2>

<div class="rn-contact-top-area rn-section-gapTop bg_color--5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                <div class="section-title mb--30 text-center">
                    <h2 class="title">راه های ارتباطی</h2>
                    <p class="description">
                        از طریق راه های زیر با ما در ارتباط باشید و انتقادات و پیشنهادات خود را با ما در میان بگذارید.
                    </p>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                <div class="rn-address">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-headphones">
                            <path d="M3 18v-6a9 9 0 0 1 18 0v6"></path>
                            <path d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z">
                            </path>
                        </svg>
                    </div>
                    <div class="inner">
                        <h4 class="title">شماره تماس تلفن</h4>
                        <p><a href="tel:02155613348">021-55613348</a></p>
                        <p><a href="tel:02155578732">021-55578732</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">
                <div class="rn-address">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                            </path>
                            <polyline points="22,6 12,13 2,6"></polyline>
                        </svg>
                    </div>
                    <div class="inner">
                        <h4 class="title">آدرس ایمیل ما</h4>
                        <p ><a href="mailto:Support@christianbeauty.net">Support@christianbeauty.net</a></p>
                        <p><a href="mailto:s.golaby@yahoo.com">s.golaby@yahoo.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-delay="250" data-sal-duration="800">
                <div class="rn-address">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin">
                            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                            <circle cx="12" cy="10" r="3"></circle>
                        </svg>
                    </div>
                    <div class="inner">
                        <h4 class="title">مکان ما</h4>
                        <p>تهران، بازار تهران،بازار مسجد جامع، نبش کوچه کویتی ها، پلاک 20 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- login form -->
<div class="login-area message-area rn-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                <div class="connect-thumbnail">
                    <div class="left-image">
                        <img src="~/Images/bg/flat-lay-chat-bubbles-with-telephone-receiver.jpg" alt="Nft_Profile">
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">
                <div class="form-wrapper-one register-area">
                    <h3 class="mb--30">با ما تماس بگیرید</h3>
                    <form class="rwt-dynamic-form" id="contact-form" method="POST" action="mail.php">
                        <div class="mb-5">
                            <label for="contact-name" class="form-label">نام شما</label>
                            <input name="contact-name" id="contact-name" type="text">
                        </div>
                        <div class="mb-5">
                            <label for="phone" class="form-label">تلفن</label>
                            <input id="phone" name="contact-phone" type="number">
                        </div>
                        <div class="mb-5">
                            <label for="contact-email" class="form-label">ایمیل</label>
                            <input id="contact-email" name="contact-email" type="email">
                        </div>
                        <div class="mb-5">
                            <label for="contact-message" class="form-label">نوشتن پیام</label>
                            <textarea name="contact-message" id="contact-message" rows="3"></textarea>
                        </div>
                     
                        <button name="submit" type="reset" class="btn btn-primary">ارسال پیام</button>
                        <div class="rn-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="rn-contact-map-area position-relative rn-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <div class="col-12" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6482.327977209644!2d51.428107053422565!3d35.67296390604398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e01efcb667e25%3A0xcbc3ea5cef06057c!2z2KjYp9iy2KfYsSDYqtmH2LHYp9mG2Iwg2YXZhti32YLZhyDbsduy2Iwg2KrZh9ix2KfZhtiMINin2LPYqtin2YYg2KrZh9ix2KfZhtiMINin24zYsdin2YY!5e0!3m2!1sfa!2s!4v1689615931609!5m2!1sfa!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235495.62780269101!2d-73.932551722484!3d41.33466214858558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e1!3m2!1sen!2sbd!4v1637254792714!5m2!1sen!2sbd" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>*@
            </div>
        </div>
    </div>
</div>