
@Html.Partial("PartialViews/Footer/_Slider")

@await Component.InvokeAsync("Category")


@await Component.InvokeAsync("TopSeller")



<div class="row g-5 mt--100">
    <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="single-odometer banner one">
            <div class="icon">
                <img src="~/images/icons/shape-9.png" alt="Shape">
            </div>
            <h3 class="counter">
                تنوع محصولات
            </h3>
            <p class="disc mt-4">
                تنوع بی‌نظیر محصولات کریستین بیوتی ، شما را به یک سفر هیجان انگیز در دنیای گزینه‌های متنوع و استثنایی می‌برد.
            </p>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="single-odometer banner two">
            <div class="icon">
                <img src="~/images/icons/shape-1.png" alt="Shape">
            </div>
            <h3 class="counter">
                خرید راحت
            </h3>

            <p class="disc mt-4">
                تجربه خریدی آسان و بی دغدغه توسط روش های متعدد ثبت سفارش فراهم شده در وبسایت
                .
            </p>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="single-odometer banner three">
            <div class="icon">
                <img src="~/images/icons/shape-5.png" alt="Shape">
            </div>
            <h3 class="counter">
                سفارش عمده
            </h3>
            <p class="disc mt-4"> با ثبت سفارش بصورت عمده ، بهترین محصولات را با قیمت‌های مناسب و امکاناتی بی‌نظیر برای شما تضمین می‌کنیم.</p>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="single-odometer banner four">
            <div class="icon">
                <img src="~/images/icons/shape-7.png" alt="Shape">
            </div>
            <h3 class="counter">
                خرید بدون واسطه
            </h3>
            <p class="disc mt-4">   بدون هیچ میانجی و واسطه‌ای، تجربه‌ی خریدی مستقیم و بی‌واسطه را در وبسایت ما تجربه کنید.</p>
        </div>
    </div>
</div>

@await Component.InvokeAsync("RandomSeller")


<div class="nu-subscribe-area rn-section-gapTop" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="subscribe-wrapper_1 text-center">
                    <h3 class="title mb--10">به باشگاه مشتریان ما بپیوندید</h3>
                    <p class="subtitle">پیوستن به باشگاه مشتریان برند کریستین بیوتی، یک فرصت بی‌نظیر است که به شما اجازه می‌دهد با این برند ارتباط برقرار کنید و از مزایای ویژه‌ای برخوردار شوید.</p>
                    <div class="subscribe-input-wrapper">
                        <div class="input-group">
                            <input id="telNumber" type="tel" class="form-control bg-color--2" placeholder="شماره تلفن شما">
                            <div class="input-group-append">
                                <button onclick="SendToBack()" class="btn btn-primary-alta btn-outline-secondary" type="button">عضویت</button>


                            </div>
                        </div>
                        <h6 class="mt-3" id="SuccessMessageShow" style="color:#00ff89">
                        </h6>
                        <h6 class="mt-3" id="ErrorMessageShow" style="color:#d92323">
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="rn-popup-modal share-modal-wrapper modal fade" id="shareModal" tabindex="-1" aria-hidden="true">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content share-wrapper">
            <div class="modal-header share-area">
                <h5 class="modal-title">این NFT را به اشتراک بگذارید</h5>
            </div>
            <div class="modal-body">
                <ul class="social-share-default">
                    <li>
                        <a href="#">
                            <span class="icon"><i data-feather="facebook"></i></span><span class="text">فیس بوک</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i data-feather="twitter"></i></span><span class="text">توییتر</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i data-feather="linkedin"></i></span><span class="text">لینکداین</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i data-feather="instagram"></i></span><span class="text">اینستاگرام</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><i data-feather="youtube"></i></span><span class="text">یوتیوب</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="rn-popup-modal report-modal-wrapper modal fade" id="reportModal" tabindex="-1" aria-hidden="true">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content report-content-wrapper">
            <div class="modal-header report-modal-header">
                <h5 class="modal-title">
                    چرا گزارش می دهید؟
                </h5>
            </div>
            <div class="modal-body">
                <p>توضیح دهید که چرا فکر می کنید این مورد باید از بازار حذف شود</p>
                <div class="report-form-box">
                    <h6 class="title">پیام</h6>
                    <textarea name="message" placeholder="Write Problems"></textarea>
                    <div class="report-button">
                        <button type="button" class="btn btn-primary mr--10 w-auto">گزارش</button>
                        <button type="button" class="btn btn-primary-alta w-auto" data-bs-dismiss="modal">
                            لغو
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SendToBack() {
        var tel = document.getElementById("telNumber").value
        var successMessage = document.getElementById("SuccessMessageShow")
        var errorMessage = document.getElementById("ErrorMessageShow")

        if ((tel == null || tel == undefined || tel == "") || (tel.length < 11)) {
            return errorMessage.innerHTML = "شماره تلفن خود را  به صورت صحیح وارد کنید"
        }

        fetch(`Home/LoyaltyClub/${tel}`)
            .then(response => response.json())
            .then(data => {
                if (data.isSuccessfull) {
                    successMessage.innerHTML = "عملیات موفقیت آمیز بود."
                    setTimeout(function () {
                        //your code to be executed after 1 second
                        successMessage.innerHTML = "";
                    }, 2000);
                }
                else {
                    return errorMessage.innerHTML = "عملیات با خطا مواجه شد"
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });



    }
</script>