@model ChristianBeauty.ViewModels.Blogs.AddBlogViewModel
@{
    ViewData["Title"] = "Add Page";
}

<div class="text-center">
    <h1 class="display-4">Add Blog</h1>
</div>

<div id="content-page" class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">اضافه کردن بلاگ</h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Blog" asp-action="Add" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label for="Tittle">تیتر:</label>
                            <input asp-for="Tittle" id="Tittle" type="text" class="form-control" placeholder="تیتر" />
                            <span asp-validation-for="Tittle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Tittle">مدت زمان خواندن:</label>
                            <input asp-for="ReadingTime" id="ReadingTime" type="text" class="form-control" placeholder="مدت زمان مطالعه" />
                            <span asp-validation-for="ReadingTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Description">متن اصلی:</label>
                            <textarea asp-for="Description" id="Description" class="form-control" placeholder="متن اصلی"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Image">تصویر:</label>
                            <input asp-for="Image" id="Image" type="file" class="form-control" placeholder="تصویر" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
